
.fondo-general{

    background-image: url(../img/fondo-landing-footer.jpg);
    background-size:cover;
    background-position:center center;
    
}

.contacto-simple {

   display: flex; 
   justify-content:space-between;
   flex-wrap: wrap;


    p{

        font-family: $fuenteTitulos;
    }

}

.contacto-simple-informacion{

    flex-basis: 40%;
    line-height:1.8;
    font-size:1.3rem;
    
}

.contacto-principal{

    position:relative;
}

.contacto-simple-formulario{

    display: flex;
    flex-direction: column;
    box-shadow: 10px 11px 16px -4px rgba(0,0,0,0.15);
    background-color:$colorPrincipal;
    padding:3rem 4rem;
    flex-basis:70%;
    min-width: 30rem;
    max-width: 30rem;
    position:absolute;
    left:50%;
    top:5%;
    height: 35rem;
    opacity: 0.9;
    
    input{

        padding:0.5rem;
        margin:0.1rem 0rem;
        font-size:1.2rem;
    }

    label{

        font-size:1.3rem;
    }

    .btn{

        display: block;
        width:100%;
    }

    textarea{
        font-size:1.3rem;
    }
}

address{

    
    i{
       
            background-color:$colorGrisOscuro;
            color:$colorPrincipal;
            margin:1rem;
            width:3rem;
            height:3rem;
            border-radius: 50%;   
            font-size:1.4rem;
            padding:0.8rem;
            text-align: center;
    }

    p{
               
        color: $colorGrisOscuro;
        font-size:1.2rem;
        font-weight: 500;
        font-family: $fuenteTitulos;
        font-style:normal;
        margin:0.3rem;

        
    }
}

@media (max-width:$breakPointTabletVertical){

    
    h2{

        display: block;
        text-align: center;
    }

    .contacto-simple {

        flex-direction: column;
        align-items: center;
 
 }

    .contacto-simple-formulario{

        position: static;
        width:80%;
        min-width: 30rem;
        max-width: 30rem;
        left:0;
        top:0;
        height: 40rem;
        margin-top:2rem;

    }

    
    .contacto-simple-informacion{

        
        line-height:1.8;
        font-size:1.3rem;  
        text-align:center;
    }

    address{

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        
    }

    .contacto-item{

        display: flex;
        flex-direction: column;
    }

    
}
