.contenedor-cuenta{

   display: flex;
   justify-content: space-between;
    align-items: center;
}

.formulario-registro{

    flex-basis: 45%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top:2rem;
    color:$colorGrisClaro;
    align-items: center;

    fieldset{

        width: 100%;
        border-top:none;
        box-shadow: 10px 11px 16px -4px rgba(0,0,0,0.15);
  
    }

    .fieldset-datos{

        width: 100%;
        display: flex;
        flex-direction: column;
    
        .form-item{
            
            padding-top: 0.5rem;
            
            input{
                font-size:1.4rem;
            }

            label{

                font-size:1.5rem;
            }
        }
    }

    h3{

        padding:0rem 1rem;
    }

    .btn{
        
        width:95%;
        margin-left:0.8rem;
    }

}

.formulario-iniciar-sesion{

    flex-basis:40%;

    p{

        text-align: right;
        padding:0rem 1rem;
        margin:0;
    }

    .fieldset-datos{

        width: 100%;
        display: flex;
        flex-direction: column;
 
        .form-item{
            
            padding-top: 0.5rem;
            
            input{
                font-size:1.4rem;
            }

            label{

                font-size:1.5rem;
            }
        }
 
    }

    fieldset{
       border:0;
    }
            
}

.input-imagen{

    border:1px solid $colorGrisOscuro;
    
    input{

        
        border:none;
        width:85%;
        color:$colorGrisOscuro;
    }

    input:focus{

        outline: none;
      
    }

    i{

        color:$colorGrisClaro;

    }

}

.olvide-contrasenia{
    
    text-decoration: none;
    color:$colorGrisOscuro;
    font-style: italic;
}

.Error{

    color:red;
    font-size:1.5rem;
    margin:0;
    
}

.ventana-emergente{


    
    .fieldset-datos{


 
        .form-item{
            
            padding-top: 0.5rem;
            flex-basis: 50%;
            
            input{
                
                font-size:1.4rem;
     
            }

            label{

                font-size:1.5rem;
   
            }

            select{
                font-size:1.4rem;
                padding:1rem;

            }

            textarea{

                font-size:1.4rem;
                
            }

        }
 
    }

}

