.header-faq{

    background-image: url(../img/fondo-faq.jpg);
    height:25vh;

}

.faq{

    display: flex;
    flex-wrap: wrap;

}

.faq-izquierda, .faq-derecha{

    margin:1rem;
    flex-basis: calc(50% - 2rem);
}

.pregunta{
  
    background-color:$colorVerdeClaro;
    font-family: $fuenteTitulos;
    font-size:1.5rem;
    font-weight: 600;
    padding:1.3rem 2rem;
    color:#312F2F;
    box-shadow: 10px 11px 16px -4px rgba(0,0,0,0.15);
    cursor:pointer;
    display: block;
    width: 100%;
    text-align: left;
    border:none;
    outline: none;
    transition: background 0.2s;
    margin:0;
 
}

.pregunta::after{

    content:'+';
    font-size:2.5rem;
    float: right;
    transform: sclae(1.5);
    }  


    .pregunta--active::after{

        content:'-';
    }

.respuesta{
    
    overflow:hidden;
    max-height: 0;
    font-size:1.5rem;
    transition: max-height 0.2s;
    line-height: 1.5;
    padding: 0.2rem 1.5rem;
    background-color:#fff;
 
  
}

.resaltar-verde{

    background-color:$colorVerdeClaro;
    font-weight: 700;
    
}

.resaltar-amarillo{

    background-color:#f7e183;
}



@media (max-width:$breakPointTabletVertical){

    
.faq{

    flex-direction: column;
 
}

.faq-derecha{

    display: none;
  
}

}

