.m-contenido{

    color: #107066;
    font-family: 'Poppins';
    font-weight: 600;
    opacity: 0.90;
    font-size: 1.8;
    text-align: center;
    border: none;

}

.m-header{

    background-color: #94D6C8;
    border: none;
}

.m-icono{

    font-size: 6rem;
    margin: 1.5rem 2rem;

}