/*COLORES*/
$colorPrincipal : #fff;
$colorVerde: #107066;
$colorGrisOscuro: #3C3C3F;
$colorGrisClaro: #707070;
$colorVerdeClaro: #94D6C8;

/*FUENTES*/
$fuenteTitulos : 'Poppins', sans-serif;
$fuentePrincipal: 'Roboto', sans-serif;

/*BREAKPOINTS*/
$breakPointCelularVertical: 320px;
$breakPointCelularHorizontal: 480px;
$breakPointTabletVertical: 768px;
$breakPointTabletHorizontal:1024px;
$breakPointComputadora: 1200px;